.table {
  text-align: left;
  background-color: #fff;
  overflow-x: scroll;
}

.rowHeader {
  display: grid;
  grid-template-columns: [checkbox]50px 180px [title]100px [name]250px [last-name]250px [email]250px 150px 150px [gender] 180px;
}

.rowBody {
  display: grid;
  grid-template-columns: [checkbox]50px 180px [title]100px [name]250px [last-name]250px [email]250px 150px 150px [gender] 180px;
}

.cellHeader {
  padding: 20px 15px;
  border-bottom: 4px solid rgba(226, 221, 221, 0.5);
}

.cellHeader:last-child {
  position: sticky;
  right: 0;
  padding: 20px 15px;
  background-color: white;
  box-shadow: -12px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.cellBody {
  padding: 20px 15px;
  border-bottom: 4px solid rgba(226, 221, 221, 0.5);
}

.cellBody:last-child {
  position: sticky;
  right: 0;
  padding: 20px 15px;

  background-color: white;
  box-shadow: -12px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
