.form {
  display: flex;
  justify-content: end;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;

  margin-bottom: 13px;
  margin-top: 20px;
  line-height: 2;
  font-size: 16px;
  font-weight: 600;
  text-align: right;

  background-color: #fff;
}

.input {
  width: 200px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 4px;

  border-color: transparent;
}

.button {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.filledCorrect {
  background-color: rgb(105, 182, 105);
}

.filledError {
  background-color: rgb(240, 90, 90);
}
