.label {
  display: flex;
  gap: 17px;
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
  margin-top: 20px;
  line-height: 2;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 4px;
}

.filledCorrect {
  background-color: rgb(105, 182, 105);
}

.filledError {
  background-color: rgb(240, 90, 90);
}
